@model WorkScheduleManagement.Application.Models.Requests.CreationModel

@{
    ViewBag.Title = "Создание заявки";
}

<link rel="stylesheet" href="~/css/requests.css"/>

<form asp-action="Create" asp-controller="Requests">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group" id="FormType">
        <label asp-for="Type" class="control-label">Тип заявки:</label>
        @Html.DropDownList("Type", new SelectList(Model.AllTypes, "Id", "Name"), new {@class = "form-control"})
    </div>
    <hr/>

    <div class="form-group" id="FormReplacer">
        <label asp-for="AllReplacerUsers" class="control-label">Замещающий сотрудник:</label>
        @Html.DropDownList("Replacer", new SelectList(Model.AllReplacerUsers, "Id", "FullName", ""), new {@class = "form-control"})
    </div>

    <div class="form-group" id="FormApprover">
        <label asp-for="AllApproverUsers" class="control-label">Согласующий сотрудник:</label>
        @Html.DropDownList("Approver", new SelectList(Model.AllApproverUsers, "Id", "FullName", ""), new {@class = "form-control"})
    </div>

    <div class="form-group" id="FormVacationType">
        <label asp-for="VacationType" class="control-label">Тип отпуска:</label>
        @Html.DropDownList("VacationType", new SelectList(Model.AllVacationTypes, "Id", "Name"), new {@class = "form-control"})
    </div>

    <div class="form-group" id="FormComment">
        <label asp-for="Comment" class="control-label">Комментарий: </label>
        @Html.EditorFor(model => model.Comment, new {htmlAttributes = new {@class = "form-control"}})
    </div>

    <div class="DateContainer">
        <label class="control-label" id="DatesLabel">Даты отпуска: </label>
        <div class="form-group" id="FormDateFrom">
            <label asp-for="DateFrom" class="control-label">Дата начала: </label>
            @Html.EditorFor(model => model.DateFrom)
            <span asp-validation-for="DateFrom"></span>
        </div>

        <div class="form-group" id="FormDateTo">
            <label asp-for="DateTo" class="control-label">Дата окончания: </label>
            @Html.EditorFor(model => model.DateTo)
            <span asp-validation-for="DateTo"></span>
        </div>
    </div>

    <div class="form-group" id="FormIsShifting">
        <label asp-for="IsShifting" class="control-label">Возможность передвинуть: </label>
        <input type="checkbox" asp-for="IsShifting" name="IsShifting"/>
    </div>
    
    <div class="form-group" id="FormCustomDate">
        @{
            if (Model.CustomDays != null)
            {
                if (Model.RemotePlans != null)
                {
                    var outData = Model.CustomDays.Zip(Model.RemotePlans, (time, s) => new {Date = time, Plan = s}).ToList();
                    foreach (var day in outData)
                    {
                        <div class="CustomDayContainer">
                            <span class="before before-down">➕</span>
                            <span>Выберите дату: </span>
                            <input class="single-line" data-val="true" type="date" name="CustomDays" value="@day.Date.ToString("yyyy-MM-dd")">
                            <span> План удалённой работы: </span>
                            <input name="RemotePlans" style="width: 50%;" value="@day.Plan">
                        </div>
                    }
                }
                else
                {
                    var outData = Model.CustomDays;
                    foreach (var day in outData)
                    {
                        <div class="CustomDayContainer">
                            <span class="before before-down">➕</span>
                            <span>Выберите дату: </span>
                            <input class="single-line" data-val="true" type="date" name="CustomDays" value="@day.Date.ToString("yyyy-MM-dd")">
                        </div>
                    }
                }
            }
        }
    </div>

    <div class="form-group">
        <input type="submit" value="Создать" class="btn btn-outline-success"/>
    </div>
</form>

@section scripts
{
    <script src="~/js/RequestEditingHandler.js"></script>
}