@model WorkScheduleManagement.Application.Models.Requests.RequestCreationModel

@{
    ViewBag.Title = "Создание заявки";
}

<form asp-action="Create" asp-controller="Requests">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Type" class="control-label">Тип заявки:</label>
        @Html.DropDownList("Type", new SelectList(Model.AllTypes, "Id", "Name"), new {@class = "form-control"})
    </div>
    <hr/>

    <div class="form-group">
        <label asp-for="AllReplacerUsers" class="control-label">Замещающий сотрудник:</label>
        @Html.DropDownList("Replacer", new SelectList(Model.AllReplacerUsers, "Id", "FullName", ""), new {@class = "form-control"})
    </div>

    <div class="form-group">
        <label asp-for="AllApproverUsers" class="control-label">Согласующий сотрудник:</label>
        @Html.DropDownList("Approver", new SelectList(Model.AllApproverUsers, "Id", "FullName", ""), new {@class = "form-control"})
    </div>

    <div class="form-group">
        <label asp-for="VacationType" class="control-label">Тип отпуска:</label>
        @Html.DropDownList("VacationType", new SelectList(Model.AllVacationTypes, "Id", "Name"), new {@class = "form-control"})
    </div>

    <div class="form-group">
        <label asp-for="Comment" class="control-label">Комментарий: </label>
        @Html.EditorFor(model => model.Comment, new {htmlAttributes = new {@class = "form-control"}})
    </div>

    <div class="form-group">
        <label asp-for="DateFrom" class="control-label">Дата начала: </label>
        @Html.EditorFor(model => model.DateFrom)
        <span asp-validation-for="DateFrom"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateTo" class="control-label">Дата окончания: </label>
        @Html.EditorFor(model => model.DateTo)
        <span asp-validation-for="DateTo"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsShifting" class="control-label">Возможность передвинуть: </label>
        <input type="checkbox" asp-for="IsShifting" name="IsShifting"/>
    </div>

    <div class="form-group">
        <input type="submit" value="Создать" class="btn btn-outline-success"/>
    </div>
</form>