@model IEnumerable<WorkScheduleManagement.Application.Models.Requests.RequestsTableModel>
 
@{
    ViewData["Title"] = "Заявки";
}

<a asp-action="Create">Создать заявку</a>
<hr/>

<h2>Список заявок:</h2>
<table class="table">
    <tr>
        <th>Податель заявки</th><th>Тип заявки</th><th>Статус заявки</th><th>Выбранные даты</th><th>Количество отпускных</th><th></th>
    </tr>
    @foreach (var request in Model)
    {
        <tr>
            <td>@request.Creator</td>
            <td>@request.RequestType</td>
            <td>@request.RequestStatus</td>
            <td>@request.SelectedDates</td>
            <td>@request.CountOfVacationDays</td>
            <td>
                @* <form asp-action="Change" asp-route-id="@request.Id" method="post"> *@
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@request.Id">Изменить</a>
                    @* <button type="submit" class="btn btn-sm btn-danger"> *@
                    @*     Удалить *@
                    @* </button> *@
               @* </form> *@
            </td>
        </tr>
    }
</table>